<div style='width: 700px;'>
  <div id="map" style='width: 700px; height: 400px;'></div>
</div>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'></script>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
  var markers = handler.addMarkers([
    <% @location.each do |loc| %>
      <%= "{ lat: #{loc.latitude}, lng: #{loc.longitude} }," %>
    <% end %>
    <% @checkins.each do |checkin| %>
      <%= checkin_location(checkin) %>
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>